In [57]:
import pandas as pd
import os

In [58]:
folder = 'names'
directory = ''.join((os.getcwd(), '\\', folder, '\\'))
dir_list = os.listdir(path=directory)

In [59]:
list_of_years = [1890, 1933, 2017]

In [63]:
def task1(list_of_years):
    file_list_of_years = [f'yob{y}.txt' for y in list_of_years]
    df_by_list_of_years = (pd.read_csv(directory + f, header=None, names=['Name', 'Sex', 'Quantity']) 
                    for f in dir_list if f in file_list_of_years)
    names_of_years = pd.concat(df_by_list_of_years)
    result = names_of_years.groupby(['Name', 'Sex']).sum().sort_values(['Quantity'], ascending=False).head(5)
    return result

task1(list_of_years)

             Quantity
Name    Sex
James   M       70435
Mary    F       69966
John    M       64156
Robert  M       62260
William M       61443

In [66]:
def task2(list_of_years):
    file_list_of_years = [f'yob{y}.txt' for y in list_of_years]
    df_by_list_of_years = (pd.read_csv(directory + f, header=None, names=['Name', 'Sex', 'Quantity']).assign(Year=f[3:7]) 
                        for f in dir_list if f in file_list_of_years)
    names_of_years = pd.concat(df_by_list_of_years)
    result = names_of_years.sort_values(['Year']).groupby(['Sex', 'Year']).sum()
    return result

task2(list_of_years)

          Quantity
Sex Year
F   1890    190376
    1933   1007826
    2017   1711811
M   1890    111025
    1933    991315
    2017   1834490